/* Общая настройка */


* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Макет */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* Верхний и нижний колонтитулы */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}


/*Шрифты*/

@font-face {
  font-family: 'source_sans_proregular';
  src: url('fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
       url('fonts/sourcesanspro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cinzelregular';
  src: url('fonts/cinzel-regular-webfont.woff2') format('woff2'),
       url('fonts/cinzel-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*Общий стиль текста*/

html {
  font-size: 10px;
  font-family: 'source_sans_proregular', sans-serif, Helvetica, Arial;
}

body {
  line-height: 1.6;
  letter-spacing: 0.1rem;
  word-spacing: 0.1rem;
}

/*типография заголовка*/
h1 {
  font-family: 'cinzelregular', serif, 'Times New Roman';
  font-size: 5rem;
  text-align: center;
  letter-spacing: .2rem;
}

h2 {
  font-family: 'cinzelregular', serif, 'Times New Roman';
  font-size: 3em;
  letter-spacing: .1rem;
}

/*типография*/
p, li {
  font-size: 2rem;
}

section h2 + p {
  text-indent: 2rem;
}


/*Ссылки*/

a {  
  text-decoration: underline;
  padding: 0.2rem 0.1rem 0;
  outline: none;
}

a:link {
  color:#a66;
}

a:visited {
  color: purple;
}

a:focus {
  text-decoration: none;
  background-color: rgba(170, 102, 102, 0.1);
  border-radius: .5rem .5rem .5rem;
}

a:hover {
  text-decoration: none;
  color:#a69;
}

a:active {
  text-shadow: 1px 1px 1px black;
}

a[href*="http"] {
  background: url(icon.png) no-repeat 100% 0;
  background-size: 1.5rem 1.5rem;
  padding-right: 1.8rem;
}

li {
  line-height: 1.6;
  padding: 0.2rem 0;
  list-style-type: circle;
}


nav li {
  list-style-type: none;
  outline: 1px solid #a66;
  text-align: center;
  margin-bottom: 2rem;
  line-height: 3;
  padding: 0;
}

nav li a {
  outline:none;
  text-decoration: none;
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 0;
}

nav li a:hover, nav li a:focus {
  background-color: #a66;
  color:white;
}
